<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.in.doctor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doctor"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.in.doctor.activity.AccountSetting"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.MyWallet"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.MyQuestion"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.MyReview"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.CompletedAssignment"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.OnlineConsultants"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.BookedAppointment"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.ManageCalendar"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.ProfileSetting"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.ChatDashboard"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.BookAppointment"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.DoctorProfile"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.Search"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.Request"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.Home"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.SignIn"
            android:exported="true" />
        <activity
            android:name="com.in.doctor.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>